body{
    color: white;
    background-color: rgb(142, 161, 161);
   
}

.cont{
        
        color: rgb(22, 22, 22);
}

.type{
    padding: 10px;
    text-align: center;
    height: 200;
}

.race{
    padding: 10px;
    text-align: center;
    height: 400px;
}

.f{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    color:black
}

.input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-top: 2px;
    text-align: center;
   
}

#text_type{
    margin-left: 10%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width:80%;
}

#canvas_{
    border: solid black 2px;
    background: white;
}

.info{
    height: 250px;

}


.accuracy{
    font-size: 50px;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.WPM{
    font-size: 45px;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}